@charset "UTF8";
body{
    background-image: url('imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
}
#tela{
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('imagens/frame-iphone.png') no-repeat;
    height: 627px;
    width: 311px;
}

.home{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
    background-size: cover;

}
